body {
  background: #424874;
  color: white;
}
.search-results, .loader, .result-heading {
  display: none;
}
form {
  margin: auto;
  max-width: 500px;
}
.result-heading, .loader, .server-error {
  max-width: 500px;
  margin: auto;
}
.doctor-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  max-width: 500px;
  margin: auto;
  padding: 10px 10px;
  background: #AFC2D5;
  border-radius: 5px;
  color: #222;
}
.doctor-item .doctor-image {
  border-radius: 50%;
  padding: 0;
  height: 120px;
  min-width: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.doctor-item img {
  width: 100%;
}
